/* Main.css
 custom styles for the main cold storage page
*/

/* Overall style */



/* Vault nav buttons */

#infobox{
	font-family: 'Courier';
}

#infobox a {
	color: #ff0000 ;
}

#infobox a:hover, a:focus{
	color: #666;
}

.navbutts{
	margin-bottom: 1.3em;

}

#prev-bt{
	margin-left: 0.5em;
	color: "#ff0000";
}


#prev-bt .fa{
	margin-right: 1em;
}

#next-bt{
	margin-right: 0.5em;
	float: right;
	color: "#ff0000";
}

#next-bt .fa{
	margin-left: 1em;
}

/* Vault section */

/* vault listing */
#vaultlist ul{
	text-decoration: "";
}

/* title */
#player-digital-name-one{
	margin-top: 1em;
}

/* description */
#player-digital-title-one{
	margin-top: 1em;
	margin-bottom: 1em;
}

